# virtual env
.venv/
venv/
env/

# python cache
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# build
build/
dist/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/*
!.vscode/launch.json
*.swp

# OS
.DS_Store
Thumbs.db

# local file backups
README - 副本.md